@font-face {
    font-family: ubuntu;
    src: url('../Font/Ubuntu-R.ttf');
}

body {
    font-family: ubuntu;
}

h1 {
    font-family: ubuntu;
}

h2 {
    font-family: ubuntu;
}

p {
    font-family: ubuntu;
}

.rankContainer{
    display:inline-flex;
}