.searchWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pageWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .descriptionText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
} */