.searchWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    margin-left: 5%;
    margin-right: 5%;
}
.pageWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0.5em;
}

.headText{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* .descriptionText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
} */