.addEventForm {
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    padding: 25px;
    margin: auto;
    background-color: #efefef;

    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  }