.addEventForm {
    box-sizing: border-box;
    width: 60rem;
    max-width: 100%;
    padding: 25px;
    margin: auto;
    background-color: #efefef;

    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  }

  h1 {
    padding: 1em;
  }

  .buttonBox {
    display: flex;
    align-content:flex-end;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
  }

   .upperFields{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .lowerFields{
    display: flex;
    flex-flow:wrap;
  }