.formBox{
  display: flex;
  justify-content: center;
  align-content:space-around;
  flex-flow: row;
}


.registerBox {
    box-sizing: border-box;
    width: 500px;
    max-width: 75%;
    padding: 25px;
    margin: auto;
    background-color: rgb(239, 239, 239);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  }
  
  .regWelcome {
    align-self: flex-start;
    width: 22em;
    max-width: 25%;
    background-color: rgb(239, 239, 239);
    border-radius: 3px;
    margin: auto;
    padding: 1em;
  }